<header>
    <nav>
        <ul nz-menu nzMode="horizontal" class="">
            <li nz-menu-item routerLink='/' [nzSelected]="isActiveRoute('/')">
                Home
            </li>
            <li nz-menu-item routerLink='/about' (click)="onClickAbout()" [nzSelected]="isActiveRoute('/about')">
                About
            </li>
            <li nz-menu-item routerLink='/techstack' [nzSelected]="isActiveRoute('/techstack')">
                TechStack
            </li>
            <li nz-menu-item routerLink='/contact' [nzSelected]="isActiveRoute('/contact')">
                Contact
            </li>
        </ul>
    </nav>
</header>
