<div nz-row class="flex justify-center space-x-4 text-center m-4">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateReactJs">
            <p>ReactJs</p>
          </nz-card>
          <ng-template #coverTemplateReactJs>
            <img alt="reactjs" class="object-contain h-64" src="reactjs.png" />
          </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateNextJs">
            <p>NextJs</p>
          </nz-card>
          <ng-template #coverTemplateNextJs>
            <img alt="nextjs" class="object-contain h-64" src="nextjs.png" />
          </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateAngular">
            <p>Angular</p>
          </nz-card>
          <ng-template #coverTemplateAngular>
            <img alt="angular" class="object-contain h-64" src="angular.png" />
          </ng-template>
    </div>
</div>
<div nz-row class="flex justify-center space-x-4 text-center m-4">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateFastApi">
            <p>FastAPI</p>
          </nz-card>
          <ng-template #coverTemplateFastApi>
            <img alt="fastapi" class="object-contain h-64" src="fastapi.png" />
          </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateNodeJs">
            <p>NodeJs</p>
          </nz-card>
          <ng-template #coverTemplateNodeJs>
            <img alt="nodejs" class="object-contain h-64" src="nodejs.png" />
          </ng-template>
    </div>
  </div>
  <div nz-row class="flex justify-center space-x-4 text-center m-4">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplatePython">
            <p>Python</p>
          </nz-card>
          <ng-template #coverTemplatePython>
            <img alt="python" class="object-contain h-64" src="python.png" />
          </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateAnsible">
            <p>Ansible</p>
          </nz-card>
          <ng-template #coverTemplateAnsible>
            <img alt="ansible" class="object-contain h-64" src="ansible.png" />
          </ng-template>
    </div>
  </div>
  <div nz-row class="flex justify-center space-x-4 text-center m-4">
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateDocker">
            <p>Docker</p>
          </nz-card>
          <ng-template #coverTemplateDocker>
            <img alt="Docker" class="object-contain h-64" src="docker.png" />
          </ng-template>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="6">
        <nz-card nzHoverable [nzCover]="coverTemplateKubernetes">
            <p>Kubernetes</p>
          </nz-card>
          <ng-template #coverTemplateKubernetes>
            <img alt="kubernetes" class="object-contain h-64" src="kubernetes.png" />
          </ng-template>
    </div>
  </div>
